*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

._register, ._login {
    max-width: 300px;
    margin: 25px auto;
    padding: 5px 10px;
    background: #f4f7f8;
    border-radius: 8px;
}

div[id$="_registered"], div[id$="_to_registration"], div[id$="_logout"] {
    max-width: 200px;
    margin: 25px auto;
    padding: 5px 10px;
    background: #f4f7f8;
    border-radius: 8px;
}

input[type="text"],
input[type="password"] {
    background: rgba(255,255,255,0.1);
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 10px;
    width: 100%;
    background-color: #e8eeef;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 5px;
}

textarea {
    display:inline-block;
    font-size: 16px;
    height: auto;
    margin: 25px auto;
    border-radius: 5px;
    padding: 10px;
    width: 60%;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
}

div[id$="_dashboard_header"], div[id$="_dashboard_list"] {
    max-width: 800px;
    margin: 25px auto;
    padding: 5px 10px;
    background: #f4f7f8;
    border-radius: 8px;
}

button {
    padding: 9px 9px 8px 9px;
    color: #FFF;
    background-color: #4bc970;
    font-size: 14px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #3ac162;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    margin-bottom: 5px;
    cursor: pointer;
}

.add_task {
    display:inline-block !important;
    padding: 9px 9px 8px 9px;
    color: #FFF;
    background-color: #4bc970;
    font-size: 14px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 35%;
    float: right;
    border: 1px solid #3ac162;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    margin: 25px auto;
}

label {
    display: block;
    margin-bottom: 8px;
}

div[id$="_box_err"] {
    text-align: center;
    color: #FF0000;
    font-size: 14px;
    width: 100%;
    margin: 5px auto;
}

div[id$="_box_success"] {
    text-align: center;
    color: #0000FF;
    font-size: 14px;
    width: 100%;
    margin: 5px auto;
}

h5 {
    font: 20px/1.5 Helvetica, Verdana, sans-serif;
    margin: 5px auto;
    text-align: center;
    padding: 0;
    margin-bottom:20px;
}

h6 {
    font: 14px/1.5 Helvetica, Verdana, sans-serif;
    font-style: italic;
    margin: 5px auto;
    text-align: center;
    padding: 0;
    margin-bottom:20px;
}

.todo-list {
    border: none;
    max-width: 800px;
    list-style: none;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 1em;
}

.todo-list li {
    position: relative;
    background-color: #FFFFFF;
    padding: 7px 15px 7px 50px;
    line-height: 21px;
    font-size: 14px;
    color: #8b8f97;
    border: 1px solid #0000FF;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 1em;
}

input[type="checkbox"]{
    display: inline-block;
    float: left;
}

.taskinfo {
    display: inline-block;
    margin-left: 10px;
    min-width: 65%;
    transition: all .3s ease;
}

.taskdate {
    display: inline-block;
    margin-left: 10px;
    min-width: 25%;
    transition: all .3s ease;
}